/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px 0;
    text-align: center;
    border: none; /* Usuń domyślny border */
    border-radius: 0; /* Usuń zaokrąglenie */
    box-shadow: none; /* Usuń cień */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Użyj flexboxa */
    justify-content: center; /* Wyśrodkuj elementy */
}

nav ul li {
    margin: 0 10px; /* Dodaj odstęp między przyciskami */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px; /* Dostosuj wewnętrzny padding */
    border-radius: 5px; /* Dodaj lekkie zaokrąglenie */
    transition: background-color 0.3s ease; /* Płynna zmiana koloru tła */
}

nav ul li a:hover {
    background-color: #777; /* Zmiana koloru tła po najechaniu myszką */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Button Styles */
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545;
}


.table img{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
/* Cart Icon Styles */
.cart-icon {
    background-image: url('koszyk.jpg');
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    color: rgb(31, 63, 247);
    border: 1px solid #000;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 20px;
}
/* Additional Styles for Welcome Page */
.sidebar {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 600;
}
.cart-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    width: 200px; /* Dostosuj szerokość zawartości */
    overflow-y: auto; /* Dodaj pasek przewijania, jeśli zawartość jest zbyt duża */
}

.cart-content-expanded {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    width: 200px; /* Dostosuj szerokość zawartości */
    max-height: 300px; /* Maksymalna wysokość zawartości */
    overflow-y: auto; /* Dodaj pasek przewijania, jeśli zawartość jest zbyt duża */
}
.cart-icon:hover .cart-content {
    display: block;
}
.dropdown-menu {
    min-width: 600px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}
.cart-icon a {
    pointer-events: none;
    font-size: 52px;
    color: rgb(109, 94, 241);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Dodaje cień do tekstu */
    -webkit-text-stroke: 1px black; /* Dodaje kontur do tekstu (dla przeglądarek opartych na silniku WebKit) */
    text-stroke: 1px black; /* Dodaje kontur do tekstu */
    padding: 5px 10px; /* Dodatkowy padding dla tła */
}
table tr {
    cursor: pointer;
}

table tr:hover {
    background-color: #f1f1f1; /* Kolor tła po najechaniu */
}
.hover-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .hover-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }

  .hover-dropdown:hover .hover-dropdown-content {
    display: block;
  }